* {
    box-sizing: border-box;
}


body{
    margin: 0;
    background: black;
    font-family: sans-serif;
}

.student-info {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    z-index: 10;
    display: none;
}

.student-info.active {
    display: block;
}   

.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding: 20px;
}

.hero-overlay__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero-overlay__nav{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.hero-overlay__nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.hero-overlay__nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-overlay__details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

